<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Password Generator</h1>

      <div>
        <label for="length">Enter Length </label>
        <input
          class="input-field col"
          (input)="onInput($event.target.value)"
          id="length"
          type="number"
        />
      </div>
      <div>
        <p>
          <label for="upletter">
            <input
              class="input-field col s12"
              (change)="onChangeUpLetters()"
              type="checkbox"
              name=""
              id="upletter"
            />
            <span>Use Uppercase Letters</span>
          </label>
        </p>
      </div>

      <div>
        <p>
          <label for="letter">
            <input
              class="input-field col s12"
              (change)="onChangeLoLetters()"
              type="checkbox"
              name=""
              id="letter"
            />
            <span>Use Lowercase Letters</span>
          </label>
        </p>
      </div>

      <div>
        <p>
          <label for="number">
            <input
              class="input-field col s12"
              (change)="onChangeNumber()"
              type="checkbox"
              name=""
              id="number"
            />
            <span>Use Number</span>
          </label>
        </p>
      </div>
      <div>
        <p>
          <label for="symbol">
            <input
              class="input-field col s12"
              (change)="onChangeSymbol()"
              type="checkbox"
              name=""
              id="symbol"
            />
            <span>Use Symbols</span>
          </label>
        </p>
      </div>

      <div>
        <button 
        class="waves-effect waves-light btn"
          (click)="onClick()"
          [disabled]="
            !(
              length &&
              (changeUpLetter || changeLoLetter || changeNumber || changeSymbol)
            )
          "
        >
          Generat
        </button>
      </div>
      <div *ngIf="password.length > 0">
        <label for="">Your Password</label>
        <input type="text" [value]="password" />
      </div>

     
    </div>
  </div>
</div>
